body {
  font-family: helvetica, arial, sans-serif;
}

h1 {
  color: #3a241d;
  text-align: center;
}

#left-container {
  background-color: #eee;
  width: 15%;
  left: 0px;
  top: 0px;
  position: absolute;
  height: 100%;
  padding: 10px;
}

#right-container {
  background-color: #eee;
  width: 15%;
  right: 0px;
  top: 0px;
  position: absolute;
  height: 100%;
  padding: 10px;
}

#left-container .plant-holder {
  position: relative;
  height: 13%;
  left: -10px;
}

#right-container .plant-holder {
  position: relative;
  height: 13%;
  right: -10px;
}

.plant {
  position: absolute;
  max-width: 200%;
  max-height: 200%;
  z-index: 2;
  cursor: pointer;
}

.jar-walls {
  height: 80%;
  width: 40%;
  background: #d1e1df;
  border-radius: 5rem;
  position: absolute;
  bottom: 0.5%;
  left: 30%;
  opacity: 0.5;
  z-index: 1;
}

.jar-top {
  width: 32%;
  height: 5%;
  background: #d1e1df;
  position: absolute;
  bottom: 80.5%;
  left: 34%;
  opacity: 0.7;
  z-index: 1;
}

.jar-bottom {
  width: 30%;
  height: 1%;
  background: #d1e1df;
  position: absolute;
  bottom: -0.5%;
  left: 35%;
  opacity: 0.7;
}

.dirt {
  width: 38%;
  height: 6%;
  background: #3a241d;
  position: absolute;
  border-radius: 0 0 8rem 8rem;
  bottom: 1.2%;
  left: 31%;
  opacity: 0.7;
  z-index: -1;
}

.jar-glossy-long {
  width: 3%;
  height: 25%;
  background: #dcfffb;
  position: absolute;
  border-radius: 1rem;
  bottom: 20%;
  left: 5%;
  opacity: 0.7;
  z-index: -1; 
}

.jar-glossy-short {
  width: 3%;
  height: 7%;
  background: #dcfffb;
  position: absolute;
  border-radius: 1rem;
  bottom: 50%;
  left: 5%;
  opacity: 0.7;
  z-index: -1;
}