body {
    font: 14px "Century Gothic", Futura, sans-serif;
    margin: 100px 30px 0px; 
  }
  
  ol, ul {
    padding-left: 30px;
    list-style: none;
  }
  
  .board-row:after {
    clear: both;
    content: "";
    display: table;
  }
  
  .status {
    margin-bottom: 10px;
  }
  
  .square {
    background: #fff;
    border: 1px solid #999;
    float: right;
    font-size: 50px;
    font-weight: normal;
    line-height: 70px;
    height: 70px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 70px;
  }
  
  .square:focus {
    outline: none;
  }

  .go-button {
    background: #fff;
    border: 1px solid #fff;
    border-bottom: 1px solid #999;
    color: #999;
    cursor: pointer;
  }
  
  .kbd-navigation .square:focus {
    background: #ddd;
  }
  
  .game {
    display: flex;
    flex-direction: column;
  }
  
  .game-info {
    margin-left: 20px;
  }
