/* Navbar */

nav {
  background: rgb(47, 85, 151);
}

nav section {
  width: 100%;

  text-align: center;

  display: grid;
  place-content: center;
}

nav div a {
  text-align: center;
  text-decoration: none;
  font-size: 40px;
  font-weight: 700;
  padding: 0.25rem 1.5rem;
  border-radius: 20px 20px 0px 0px;
  color: rgb(47, 85, 151) !important;
  background: white;
  width: 100px;
  height: 60px;
  margin-top: 100px;
  margin-right: 10px;
}

.navber-title {
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  font-size: 50px;
  color: white;
  margin-top: 150px;
}

nav div a:hover,
nav div a:active {
  background: rgb(200, 215, 250);
}

.navContent {
  display: flex;
  justify-content: space-between;
}

.navLinks {
  display: flex;
}

.navLinks a {
  margin-left: 5px;
}

.top-bar {
  display: flex;
  justify-content: space-between;
}

.logo {
  width: 10%;
  height: 10%;
  margin-top: 25px;
  margin-left: 100px;
}

.logout {
  text-decoration: none;
  font-weight: 700;
  color: white;
  font-size: 20px;
  margin-top: 45px;
  margin-right: 130px;
}

/* login */

.login-template {
  width: 512px;
  height: 500px;

  position: relative;
  background: rgb(47, 85, 151);
  border-radius: 16px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
  margin: 0 auto;
  margin-top: 200px;
  margin-bottom: 32px;
  display: flex;
  flex-direction: column;
}

.login-template .login-logo {
  width: 30%;
  padding-top: 30px;
  padding-left: 180px;
  padding-right: 180px;
}

.login-block {
  padding-top: 30px;
  padding-left: 32px;
  padding-right: 32px;
  padding-bottom: 30px;
  border-bottom: 1px solid #e9ecef;
}

.login-block h1 {
  margin: 0;
  font-size: 36px;
  color: white;
  text-align: center;
}

.insert-form {
  width: 100%;
  margin: 0;
  padding-left: 48px;
  padding-right: 32px;
  position: relative;
}

.insert-form h2 {
  font-size: 30px;
  color: white;
  padding-top: 30px;
  padding-left: 10px;
}

.insert-form input {
  padding: 12px;
  border-radius: 4px;
  border: 1px solid #dee2e6;
  width: 80%;
  outline: none;
  font-size: 18px;
  box-sizing: border-box;
  border-radius: 16px;
}

.login-button {
  background: white;
  z-index: 5;
  cursor: pointer;
  width: 80px;
  height: 80px;
  display: block;
  align-items: center;
  justify-content: center;
  font-size: 60px;
  position: absolute;
  left: 50%;
  bottom: 0px;
  transform: translate(-50%, 50%);
  color: rgb(47, 85, 151);
  border-radius: 50%;
  border: none;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;

  transition: 0.125s all ease-in;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.5);
}

.login-button a:hover {
  background: #848484;
}

/* posts */

.post-section {
  box-sizing: border-box;
  padding: 1rem 3rem;
  border: 1px solid rgb(177, 174, 174);
  border-radius: 20px;
  margin: 5rem 30rem 5rem 30rem;
}

.post-section .post-title {
  display: flex;
  justify-content: space-between;
}

.post-title h2 {
  font-size: 50px;
}

.post-title .date {
  color: gray;
  text-align: right;
  margin-top: 5rem;
}

.post-note {
  padding: 1rem 3rem;
  border: 1px solid rgb(177, 174, 174);
  margin: 0 2rem 2rem 2rem;
}

.post-download {
  color: rgb(47, 85, 151);
  display: flex;
}

.post-download .icon {
  margin: 1.2rem 1rem 0rem 0.5rem;
}

.link {
  color: rgb(47, 85, 151);
}
